<template>
    <div id="main">
        <header id="header">
            <h1>
                <router-link :to="{name: 'home'}">
                    Laravel Vue SPA
                </router-link>
            </h1>
            <menu></menu>
        </header>
        <div id="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import Menu from "./Menu";

export default {
    name:'App',
    data() {
        return {
            //
        }
    },
    components: {
        Menu
    }
}
</script>
